@import './MainStyles.css';

.buttonMain {
    border: none;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    margin: .2em 0;
}

.buttonMain.large {
    padding: 12px 30px;
}

.buttonMain.small {
    padding: 6px 15px;
}

.buttonMain.confirm {
    background-color: var(--green);
    color: var(--main-white);
    font-weight: 400;
}

.buttonMain.inactive {
    background-color: var(--inactive-bg);
    color: var(--inactive)
}

.fullWidth {
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.1px;
}