:root {
  --main-background: #ebe3d1;
  --main-white: #fdfdfd;
  --main-fonts: #12272a;
  --main-yellow: #bc8242;
  --green: #5b753f;
  --red: #ba422a;
  --inactive: #969491;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  text-decoration: none;
}


.App {
  background-color: var(--main-background);
  color: var(--main-fonts);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: var(--main-white);
}

.logo {
  font-family: 'DM Serif Display', serif;
  color:var(--main-fonts);
}

.logo .secondary {
  color: var(--red)
}


.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar {
  background-color: var(--main-fonts);
  color: var(--main-white);
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

}

.navbar-logo {
  width: 33%;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.navbar-links .mainText {
  margin: 3px 10px
}

.navbar-interaction {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: var(--red);
  color: var(--main-white);
  display: flex;
  align-items: center;
  padding: 40px 20px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  
}

.footer  a:visited {
  text-decoration: none;
  color: var(--main-white);
}


.containersMain {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-evenly;
  margin: 2em 0;
  column-gap: 1em;
}

.containersLeft {
  width: 25.5em;
  height: 40.5em;
  background-color: var(--main-white);
  border-radius: 20px;
  padding: 4em 3em
}

.containersRight {
  width: 86.5em;
  height: 95%;
  background-color: var(--main-white);
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4em 5em
}

/* .containersRight::-webkit-scrollbar{
  background-color: var(--main-yellow);
  width: 6px;
  position: absolute;
  right: 5px;
  
}
.containersRight::-webkit-scrollbar-track{
  background-color: var(--main-yellow);
} */