@import './MainStyles.css';

.mainText {
    margin: 3px
}

.mainText.small {
    font-size: 14px;
}

.mainText.medium {
    font-size: 16px;
}

.mainText.large {
    font-size: 20px;
}

.mainText.xlarge {
    font-size: 36px;
}

.main {
    color: var(--main-fonts);
}

.success {
    color: var(--green)
}

.invert {
    color: var(--main-white);
}

.inactive {
    color: var(--inactive);
}

.alert {
    color: var(--red)
}

.decorFont {
    font-family: 'DM Serif Display', serif;
    letter-spacing: 2px;
}

.boldText {
    font-weight: 800;
}