:root {
  --main-background: #ebe3d1;
  --main-white: #fdfdfd;
  --main-fonts: #12272a;
  --main-yellow: #bc8242;
  --green: #5b753f;
  --red: #ba422a;
  --inactive: #969491;
}

.mainText {
    font-weight: 400;
    margin: 3px
}

.mainText.medium {
    font-size: 16px;
}

.mainText.large {
    font-size: 20px;
}

.mainText.xlarge {
    font-size: 36px;
}

.main {
    color: var(--main-fonts) ;
}

.success {
    color: var(--green)
}

.invert {
    color: var(--main-white);
}

.decorFont {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
}