@import './MainStyles.css';

.profile-picture.small {
    width: 48px;
    height: 48px;
    margin: 0 10px;
}

.profile-picture.medium {
    width: 100px;
    height: 100px;
}

.profile-picture.large {
    width: 150px;
    height: 150px;
}

.profile-picture img {
    width: inherit;
    height: inherit;
}


.search-bar {
    width: 80%;
    height: 36px;
    border: none;
    padding: 5px 16px;
    border-radius: 20px;
}

.search-bar.darkVersion {
    background-color: rgba(255, 255, 255, .1);
}

.search-bar.lightVersion {
    background-color: var(--inactive-bg);
}

.search-bar.mobile {
    width: 60%;
}

.search-bar.darkVersion::placeholder {
    color: var(--main-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.search-bar.lightVersion::placeholder {
    color: var(--inactive);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.userBookCatalogContainer {
    margin: 3em 0 3em 0;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    align-items: flex-start;
    justify-content: center;
}


.userStatsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 80%;
}

.userStatsPicture {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.statsElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* user Library  */

.userBookList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userBookCatalogElemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--inactive-bg);
    padding: 2em 1em;
}

.userBookWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em
}

.userBooksCount {
    display: flex;
    flex-direction: row;
    gap: 1em
}

.userBookOptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em
}

.userBooksMiniature {
    width: 7em;
}

.userBooksMiniature img {
    width: inherit;
}

.userBooksStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}